<html xmlns:th="http://www.thymeleaf.org">
	<footer class="pt-2 small" id="footer" th:fragment="footer">
		<div class="container-fluid text-center text-white" style="background-color:#000;">
		   	<div class="row">
		   	</div>
		   	<div class="row">  	
		   <div class="col-md-5 mx-auto">
		   		<h5 class=" text-center font-weight-bold">UBICANOS</h5>
				<p class="text-left"> Direccion: Avda. Bolivia N 1685 Barrio Los Huaicos San Salvador de Jujuy, Jujuy - Argentina</p>
		      	<div class="text-left">
		      	<p> <i class="fas fa-mobile-alt"></i> Celular: 388-154491052</p>
		      	<p> <i class="fas fa-phone"></i> Telefono: 4245916 </p>
		      	<p> <i class="fas fa-envelope"></i> Correo: classicars@gmail.com </p>
		      	</div>
		      </div>
		      
		      
		   		   	
		   	 <div class="col-md-4 mx-auto">
		   	   	  <h5 class=" text-center font-weight-bold">CONTACTANOS</h5>
			   	 <div class="text-left">
			      	<p> <i class="fab fa-facebook-f"></i> Facebook</p>
			      	<p> <i class="fab fa-twitter"></i> Twitter </p>
			      	<p> <i class="fab fa-instagram"></i> Instagram </p>
			      	<p> <i class="fab fa-youtube-square"></i> Youtube </p>
			      </div>
		      </div>
		      
		      
		     <div class="col-md-2 mx-auto">
		        <h5 class=" text-center font-weight-bold">INTEGRANTES</h5>
		     	<div class="text-left">
		     		<p> <i class="fas fa-user"></i> Vargas Santiago</p>
		     		<p> <i class="fas fa-user"></i> Coronel Abril</p>
		     	</div>
		     	<h5 class=" text-center font-weight-bold">COORDINADOR</h5>
		     	<div class="text-left">
		     		<p> <i class="fas fa-user"></i> Cecilia Apaza</p>
		     	</div>
		     </div> 
		      	   	
		   	</div> 	   	
		   	<div class="row">
			    	<div class="col-md-12 bg-dark">
			    		<div class="text-center py-3 table-active"> <i class="far fa-copyright"></i> 2021 Copyright:
		    				<a> TEAM7 PROGRAMACION VISUAL</a>
		  				</div>
			    	</div>
			</div>
		</div>
			
	
		<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
	</footer>
</html>