<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>

			<img alt="" src="img/headerimg/fondo.jpg">
			
	  		  <header>
			    <input type="checkbox" id="btn-menu" />
			    <label for="btn-menu"><i class="fa fa-bars"></i></label>
			   <div class="logo col-sm-8" >
			     <a href="index">MUSCLE CARS</a>
			   </div>
			  
			    
			    <nav class="menu">
			      <ul>
			        <li><a href="index">Inicio</a></li>
			        <li class="submenu"><a href="#">Categorias <i class="fa fa-caret-down"></i></a>
			          <ul>
			            <li><a href="plist">Products</a></li>
			            <li><a href="plinelist">Product Lines</a></li>
			            <li><a href="orderlist">Orders</a></li>
			            <li><a href="orderdslist">Order details</a></li>
			          </ul>
			        </li>
			        <li class="submenu"><a href="#">Nosotros<i class="fa fa-caret-down"></i></a>
			          <ul>
			            <li><a href="employeelist">Employees</a></li>
			            <li><a href="oficcelist">Oficces</a></li>		   
			          </ul>
			        </li>
			         <li class="submenu"><a href="#">Customers<i class="fa fa-caret-down"></i></a>
			          <ul>
			            <li><a href="paymentlist">Payments</a></li>		   
			          </ul>
			        </li>
			      </ul>
			    </nav>
			  </header>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="script.js"></script>				
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>