body{
	font-family: Oswald;
	color: #333;
	font-size: 1.3rem;
	line-height: 1.6em;

}

h1{
	font-size: 2rem;
	line-height: 1.3em;
}

p {
	margin-bottom: 1.6em;
}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}
/******HEADER******/

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	letter-spacing: 15px;
	font-size: 1.6em;
	display: flex;
}

/******NAV******/
/*.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


	.navigation ul li{
		display: inline-block;
	}
	
		.navigation ul li a{
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
		
			.navigation li ul{
				display: none;

			}
			
			.navigation ul li a:hover{
							background: #4a4a4a;
					}
					
*/

header {
  height: 64px;
  background: #000;
  color: #FFF;
  display: flex;
  justify-content: flex-end;
}

#btn-menu {
  display: none;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul {
  background: #000;
  display: flex;
  list-style: none;
}

.menu ul ul {
  display: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #FFF;
  text-decoration: none;
  line-height: 32px;
  font-family: Oswald;
  font-weight: 700;
}

.menu a:hover {
  background: #2C3E50;
}

.menu a i {
  margin-left: 10px;
}

.menu ul li:hover ul {
  transition: all 0.3s ease;
  display: block;
  position: absolute;
}

@media (max-width: 768px) {
  header label {
    display: block;
    padding-top: 16px;
    padding-right: 16px;
    transition: all 0.4s ease;
  }
  
  .menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 70%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  
  .menu ul {
    flex-direction: column;
    display: block;
  }
  
  .menu ul li:hover ul {
    display: none;
    position: static;
  }
  
  .menu a i {
    position: absolute;
    right: 16px;
    line-height: 32px;
  }
  
  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }
  
}


header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul {
  background: #000;
  display: flex;
  list-style: none;
}

.menu ul ul {
  display: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #FFF;
  text-decoration: none;
  line-height: 32px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.menu a:hover {
  background: #2C3E50;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.menu a i {
  margin-left: 10px;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  transition: all 0.4s linear;
  border-radius: 5px;
}

@media (max-width: 768px) {
  header label {
    display: block;
    padding-top: 16px;
    padding-right: 16px;
    transition: all 0.4s ease;
  }
  
  .menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 70%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  
  .menu ul {
    flex-direction: column;
    display: block;
  }
  
  .menu ul li:hover ul {
    display: none;
    position: static;
  }
  
  .menu a i {
    position: absolute;
    right: 16px;
    line-height: 32px;
  }
  
  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }
  
/*ICONO DEL MENU*/

.menu-icon{
	display: none;
}

.main{
	padding-top: 12rem;
	
}
			
.footer{
	margin-top: 26rem;
}


/*HEADER RESPONSIVE FOR 767px DEVICES*/

/*@media only screen and (max-width: 767px){
	
.menu-icon{
	display: block;
	cursor: pointer;
}

	.navigation{
		width: 100%;
		margin-top: 1rem;
	}
	
		.navigation ul{
			display:none;
		}
		
		.navigation ul.show{
			display: block;
		}
		
		.navigation ul li{
			display: block;
		}
		
			.navigation ul li a{
				display: block;
				padding: 0.5rem 0;
				
			}
			
				.navigation ul li a:hover{
						background: #4a4a4a;
				}
	
	
}
*/
}