<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="header">
			<div class="container logo-nav-container">
				<a href="#" class="logo">TEAM 7</a>
				<span class="menu-icon">Ver menú</span>
				<nav class="navigation">
					<ul>
						<li><a th:href="@{/index}">Inicio</a></li>
						<li><a href="@{/pline/nuevo}">Product</a></li>
						<li><a href="@{/pline/listado}">Lista</a></li>
						<li><a href="#">Clientes</a></li>
						<li><a href="#">Contacto</a></li>	
					</ul>
				</nav>
			</div>
	  	</header>
	  	
</body>
</html>