<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER ****************************  -->
	<!-- *********************************************************** -->
	
	<div th:insert="layouts/header :: header"></div>
	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN ******************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>Customers</h1>
	  			
				 <div class="table-responsive">
							<table class="table table-striped table-dark">
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Nombre</th>
									<th scope="col">Apellido</th>
									<th scope="col">Empresa</th>
									<th scope="col">Telefono</th>
									<th scope="col">Direccion 1</th>
									<th scope="col">Direccion 2</th>
									<th scope="col">Ciudad</th>
									<th scope="col">Estado</th>
									<th scope="col">Codigo Postal</th>
									<th scope="col">País</th>
									<th scope="col">Limite de Credito</th>
									<th scope="col">ID Empleado</th>

								</tr>
									<tr th:each="c:${customers}">
									
			              			<td th:text="${c.customerNumber}"></td>						
									<td th:text="${c.customerFirstName}"></td>
									<td th:text="${c.customerLastName}"></td>
									<td th:text="${c.customerName}"></td>
									<td th:text="${c.phone}"></td>
									<td th:text="${c.address1}"></td>
									<td th:text="${c.address2}"></td>
									<td th:text="${c.city}"></td>
									<td th:text="${c.state}"></td>
									<td th:text="${c.postalCode}"></td>
									<td th:text="${c.country}"></td>									
									<td th:text="${c.creditLimit}"></td>				
									<td th:text="${c.salesRepEmployeeNumber.employeeNumber}"></td>
								</tr>
							</table>
					</div>
	  			
	  		</div>
	  	</main>
	  	
	<!-- ************************************************************ -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- ************************************************************ -->
	  	
	<div th:insert="layouts/footer :: footer"></div>
	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script type="text/javascript" src="script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>