<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
	<div th:insert="layouts/header :: header"></div>
	
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		

	  	
	  	<main class="main">
	  		<div class="container">
	  		

	  			<h1>Autos a escala</h1>
	  			
	  			<p>
	  			Cheesecake sugar plum lollipop sweet bandera
	  			roll jelly-o lollipop lemon drops. Tart cake 
	  			sesame snaps liquorice oat cake. Biscuit cho
	  			 chocolate. Biscuit bonbon donut sweet rolles
	  			 danish dessert. Cake oat cake gummi bears to
	  			  brownie ice cream. Donut jelly-o 
	  			tiramisu biscuit gummi bears soufflé.
	  			</p>
	  				  			<p>
	  			Cheesecake sugar plum lollipop sweet 
	  			roll jelly-o lollipop lemon drops. Tart cake 
	  			sesame snaps liquorice oat cake. Biscuit chocolate
	  			 chocolate. Biscuit bonbon donut sweet roll muffin 
	  			 danish dessert. Cake oat cake gummi bears marshmallow
	  			  brownie ice cream. Donut jelly-o 
	  			tiramisu biscuit gummi bears soufflé.
	  			</p>
	  				  			<p>
	  			Cheesecake sugar plum lollipop sweet 
	  			roll jelly-o lollipop lemon drops. Tart cake 
	  			sesame snaps liquorice oat cake. Biscuit chocolate
	  			 chocolate. Biscuit bonbon donut sweet roll muffin 
	  			 danish dessert. Cake oat cake gummi bears marshmallow
	  			  brownie ice cream. Donut jelly-o 
	  			tiramisu biscuit gummi bears soufflé.
	  			</p>
	  				  			<p>
	  			Cheesecake sugar plum lollipop sweet 
	  			roll jelly-o lollipop lemon drops. Tart cake 
	  			sesame snaps liquorice oat cake. Biscuit chocolate
	  			 chocolate. Biscuit bonbon donut sweet roll muffin 
	  			 danish dessert. Cake oat cake gummi bears marshmallow
	  			  brownie ice cream. Donut jelly-o 
	  			tiramisu biscuit gummi bears soufflé.
	  			</p>
	  		</div>
	  	</main>
	  	
	<!-- ************************************************************ -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- ************************************************************ -->
	  	
	<div th:insert="layouts/footer :: footer"></div>
	
	<!-- ************************************************************ -->
	<!-- ********************** SCRIPTS *****************************  -->
	<!-- ************************************************************ -->

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>