<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
		<link rel="stylesheet" type="text/css" th:href="@{/css/cards.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
	<div th:insert="layouts/header :: header"></div>

	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		

	  	
	  	<main class="main">
	  	
	  		 <h1 class="title"> Muscle car - Autos a escala</h1>
    
			    <div class="container">
			       
			        <div class="card">
			            <img src="img/cars/auto1.png">
			            <h4>Chevrolet</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
			            <a href="#">Leer más</a>
			        </div>
			        
			        <div class="card">
			            <img src="img/cars/auto2.png">
			            <h4>Impala</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
			            <a href="#">Leer más</a>
			        </div>
			        
			        <div class="card">
			            <img src="img/cars/auto3.png">
			            <h4>Taunus</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
			            <a href="#">Leer más</a>
			        </div>
			        
			         <div class="card">
			            <img src="img/cars/auto6.png">
			            <h4>Mercedes</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
			            <a href="#">Leer más</a>
			        </div>
			        
			        <div class="card">
			            <img src="img/cars/auto5.png">
			            <h4>Charger</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
			            <a href="#">Leer más</a>
			        </div>
			        
			        <div class="card">
			            <img src="img/cars/auto4.png">
			            <h4>Mustang</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
			            <a href="#">Leer más</a>
			        </div>
			        
			    </div>

			<br>
	  		
	  	</main>
	  	
	<!-- ************************************************************ -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- ************************************************************ -->
	  	
	<div class="footer" th:insert="layouts/footer :: footer"></div>
	
	<!-- ************************************************************ -->
	<!-- ********************** SCRIPTS *****************************  -->
	<!-- ************************************************************ -->

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>				
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>