<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
	<div th:insert="layouts/header :: header"></div>
	
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>NEW PRODUCT</h1>
	  			
			  		<form th:action="@{/addcustomer}" th:object="${customer}" th:method="post">
			  		
					  <div class="form-group">
					    <label for="customerNumber">N del cliente</label>
					    <input type="number" class="form-control" id="customerName" aria-describedby="customerName" th:field="*{customerNumber}" placeholder="Enter customer Number">
					  </div>
					  <div class="form-group">
					    <label for="customerName">Nombre empresa</label>
					    <input type="text" class="form-control" id="customerName" aria-describedby="customerName" th:field="*{customerName}" placeholder="Enter customer Number">
					  </div>
					  <div class="form-group">
					    <label for="customerFirstName">Nombre del cliente</label>
					    <input type="text" class="form-control" id="customerFirstName" aria-describedby="customerFirstName" th:field="*{customerFirstName}" placeholder="Enter customer first name ">
					  </div>
					  <div class="form-group">
					    <label for="customerFirstName">Apellido del cliente</label>
					    <input type="text" class="form-control" id="customerLastName" aria-describedby="customerFirstName" th:field="*{customerLastName}" placeholder="Enter customer last name ">
					  </div>
					  <div class="form-group">
					    <label for="phone">Telefono-cliente</label>
					    <input type="text" class="form-control" id="phone" aria-describedby="phone" th:field="*{phone}" placeholder="Enter customer phone ">
					  </div>
					  <div class="form-group">
					    <label for="address1">Direccion</label>
					    <input type="text" class="form-control" id="address1" aria-describedby="address1" th:field="*{address1}" placeholder="Enter customer address ">
					  </div>
					 <div class="form-group">
					    <label for="address2">Direccion2</label>
					    <input type="text" class="form-control" id="address2" aria-describedby="address2" th:field="*{address2}" placeholder="Enter customer address 2 ">
					  </div>
					  <div class="form-group">
					    <label for="city">Ciudad</label>
					    <input type="text" class="form-control" id="city" aria-describedby="city" th:field="*{city}" placeholder="Enter customer city ">
					  </div>
					  <div class="form-group">
					    <label for="state">Telefono</label>
					    <input type="text" class="form-control" id="state" aria-describedby="state" th:field="*{state}" placeholder="Enter state ">
					  </div>
					   <div class="form-group">
					    <label for="postalCode">Codigo Postal</label>
					    <input type="text" class="form-control" id="postalCode" aria-describedby="postalCode" th:field="*{postalCode}" placeholder="Enter state ">
					  </div>
					   <div class="form-group">
					    <label for="country">País</label>
					    <input type="text" class="form-control" id="country" aria-describedby="country" th:field="*{country}" placeholder="Enter country ">
					  </div>
					   <div class="form-group">
					    <label for="creditLimit">Límite de Crédito</label>
					    <input type="number" class="form-control" id="creditLimit" aria-describedby="creditLimit" th:field="*{creditLimit}" step="any" placeholder="Enter credit Limit ">
					  </div>
					   <div class="form-group">
					   <label for="salesRepEmployeeNumber">N de Empleado</label>
					    	<select id="salesRepEmployeeNumber" th:field="*{salesRepEmployeeNumber}">
					    	<option th:each = "s: ${employees}"
					    	th:value="${s.employeeNumber}"
					    	th:text="${s.employeeNumber}"
					    	th:selected="true"/>
					    	</select>
					  </div>
						
					  
					  <button type="submit" class="btn btn-primary">Submit</button>
					  
					</form>
	  			
	  		</div>
	  	</main>
	  	
	<!-- *********************************************************** -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- *********************************************************** -->
	  	
	<div th:insert="layouts/footer :: footer"></div>

	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>