<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
	<div th:insert="layouts/header :: header"></div>
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>NEW EMPLOYEE</h1>
	  			
			  		<form th:action="@{/addemployee}" th:object="${employee}" th:method="post">
			  		
					  <div class="form-group">
					    <label for=employeeNumber>Numero de empleado</label>
					    <input type="number" class="form-control" id="employeeNumber" aria-describedby="idHelp" th:field="*{employeeNumber}" placeholder="Enter employee Number">
					  </div>
					  <div class="form-group">
					    <label for=lastName>Apellido</label>
					    <input type="text" class="form-control" id="lastName" aria-describedby="idHelp" th:field="*{lastName}" placeholder="Enter employee lastname">
					  </div>
					  <div class="form-group">
					    <label for=firstName>Nombre</label>
					    <input type="text" class="form-control" id="firstName" aria-describedby="idHelp" th:field="*{firstName}" placeholder="Enter employee firstName">
					  </div>
					  <div class="form-group">
					    <label for=extension>Extension</label>
					    <input type="text" class="form-control" id="extension" aria-describedby="idHelp" th:field="*{extension}" placeholder="Enter employee extension">
					  </div>
					  <div class="form-group">
					    <label for=email>EMAIL</label>
					    <input type="text" class="form-control" id="email" aria-describedby="idHelp" th:field="*{email}" placeholder="Enter employee email">
					  </div>
					  
					  <!-- CLASE FORANEA -->
					  
					    <label for="customer">Oficina</label>
					    <select th:field="*{officeCode}" id="oficceCode" class="form-control">
							<option th:each="f : ${oficces}" th:value="${f.officeCode}" th:text="${f.officeCode}"></option>
						</select>
						
					<!-- *  -->
						
					  <div class="form-group">
					    <label for=jobTitle>Título</label>
					    <input type="text" class="form-control" id="jobTitle" aria-describedby="idHelp" th:field="*{jobTitle}" placeholder="Enter employee jobTitle">
					  </div>
						
					  <div class="form-group">
					    <label for=reportsTo>A cargo</label>
					    <input type="text" class="form-control" id="reportsTo" aria-describedby="idHelp" th:field="*{reportsTo}" placeholder="reportsTo">
					  </div>
							  
					  <button type="submit" class="btn btn-primary">Submit</button>
					  
					</form>
	  			
	  		</div>
	  	</main>
	  	
	<!-- *********************************************************** -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- *********************************************************** -->
	  	
	<div th:insert="layouts/footer :: footer"></div>

	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>