<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
		<div th:insert="layouts/header :: header"></div>
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>New Office</h1>
	  			
			  		<form th:action="@{/addoficce}" th:object="${oficce}" th:method="post">
			  		
					  
					  <div class="form-group">
					    <label for="officeCode">Codigo </label>
					    <input type="text" class="form-control" id="officeCode" aria-describedby="idHelp" th:field="*{officeCode}" placeholder="Enter office code">							
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('officeCode')}" th:errors="*{officeCode}"></div>					    
					  </div>
					  <div class="form-group">
					    <label for="phone">Telefono</label>
					    <input type="text" class="form-control" id="phone" aria-describedby="idHelp" th:field="*{phone}" placeholder="Enter office phone">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>	
					  </div>
					  <div class="form-group">
					    <label for="city">Ciudad</label>
					    <input type="text" class="form-control" id="city" aria-describedby="idHelp" th:field="*{city}" placeholder="Enter office city">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>	
					  </div>
					  <div class="form-group">
					    <label for="addressline1">Direccion</label>
					    <input type="text" class="form-control" id="addressline1" aria-describedby="idHelp" th:field="*{addressline1}" placeholder="Enter office address1">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('addressline1')}" th:errors="*{addressline1}"></div>	
					  </div>
					  <div class="form-group">
					    <label for="addressline2">Direccion 2 (opcional) </label>
					    <input type="text" class="form-control" id="addressline2" aria-describedby="idHelp" th:field="*{addressline2}" placeholder="Enter office address2">
					  	<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('addressline2')}" th:errors="*{addressline2}"></div>	
					  </div>
					   <div class="form-group">
					    <label for="state">Provincia</label>
					    <input type="text" class="form-control" id="addressline2" aria-describedby="idHelp" th:field="*{state}" placeholder="Enter office state">
					     <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>	
					  </div>
					   <div class="form-group">
					    <label for="country">País</label>
					    <input type="text" class="form-control" id="country" aria-describedby="idHelp" th:field="*{country}" placeholder="Enter office country">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>						    
					  </div>
					   <div class="form-group">
					    <label for="postalCode">Codigo Postal</label>
					    <input type="text" class="form-control" id="postalCode" aria-describedby="idHelp" th:field="*{postalCode}" placeholder="Enter office postalCode">
					   <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>						    			
					  </div>
					  <div class="form-group">
					    <label for="territory">Territorio</label>
					    <input type="text" class="form-control" id="territory" aria-describedby="idHelp" th:field="*{territory}" placeholder="Enter office territory">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('territory')}" th:errors="*{territory}"></div>						    						   
					  </div>
					  					  					 													  
					  <button type="submit" class="btn btn-primary">Submit</button>
					  
					</form>
	  			
	  		</div>
	  	</main>
	  	
	<!-- *********************************************************** -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- *********************************************************** -->
	  	
	<div th:insert="layouts/footer :: footer"></div>

	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>