<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NEW ORDER DETAIL</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
		<div th:insert="layouts/header :: header"></div>
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>NEW ORDER DETAIL</h1>
	  			
			  		<form th:action="@{/addorderds}"  th:method="post">
			  		
			  		  <!-- CLASES FORANEAS ORDERDS -->
			  		
			  		
			  		<br>
			  		<br>
			  		
					  <div  class="form-group">
					  	<h5>PRODUCTOS DISPONIBLES</h5>
					    <ul>
                            <li th:each="p: ${products}"> 
                                     <input type="checkbox" th:field="*{productList.products}" th:value="${p.productCode}"> 
                                     <label class="form-label" th:text="${p.productName}"></label> 
                            </li>
		                </ul>
					</div>
				<div class="form-row">
				
					<div class="col-sm-3 my-1">
						<label for="orderDate" class="form-label">Fecha de Orden</label>
						<input type="date" class="form-control" id="orderDate" th:field="*{order.orderDate}">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('order.orderDate')}" th:errors="*{order.orderDate}"></div>
						
					</div>
					
					<div class="col-sm-3 my-1">
						<label for="requiredDate" class="form-label">Fecha de Llegada</label>
						<input type="date" class="form-control" id="requiredDate" th:field="*{order.requiredDate}">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('order.requiredDate')}" th:errors="*{order.requiredDate}"></div>
						
					</div>
					
					<div class="col-sm-3 my-1">
						<label for="shippedDate" class="form-label">Fecha de envio</label>
						<input type="date" class="form-control" id="shippedDate" th:field="*{order.shippedDate}">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('order.shippedDate')}" th:errors="*{order.shippedDate}"></div>
						
					</div>
					
					<div class="form-group col-md-6">
						<label for="status" class="form-label">Estado</label>
						<input type="text" class="form-control" id="status" th:field="*{order.status}">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('order.shippedDate')}" th:errors="*{order.shippedDate}"></div>
						
					</div>
					
					<div class="form-group col-md-6">
						<label for="comments" class="form-label">Comentario</label>
						<input type="text" class="form-control" id="state" th:field="*{order.comments}">
					</div>
					
					<div class="form-group col-md-6">
						  <label for="customer" class="form-label">Cliente:</label>
						    <select id="customer" th:field="*{order.customer}">
						    	<option th:each="c: ${customers}" th:value="${c.customerNumber}" th:text="${c.customerName}" th:selected="false">
						    </select>
						    <!--  small class="form-text text-danger" th:if="${#fields.hasErrors('order.customerNumber')}" th:errors="*{}"></small-->
					</div>
					
					<div class="mb-3">
						  <label for="employee" class="form-label">Empleado a cargo:</label>
						    <select id="employee" th:field="*{order.customer.salesRepEmployeeNumber}">
						    	<option th:each="e: ${employees}" th:value="${e.employeeNumber}" th:text="${e.employeeNumber}" th:selected="false">
						    </select>
						    <small class="form-text text-danger" th:if="${#fields.hasErrors('order.customer.salesRepEmployeeNumber')}" th:errors="*{order.customer.salesRepEmployeeNumber}"></small>
					</div>
					
					
					<div class="col-sm-3 my-1">
						<label for="quantityOrdered" class="form-label">Cantidad Ordenada</label>
						<input type="number" class="form-control" id="quantityOrdered" th:field="*{orderDetail.quantityOrdered}">
					</div>
			
			</div>
					  <button type="submit" class="btn btn-success">Done</button>
					  
					</form>
	  			
	  		</div>
	  	</main>
	  	
	<!-- *********************************************************** -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- *********************************************************** -->
	  	
	  	<div th:insert="layouts/footer :: footer"></div>
	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>