<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NEW ORDER DETAIL</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
		<div th:insert="layouts/header :: header"></div>
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>NEW ORDER DETAIL</h1>
	  			
			  		<form th:action="@{/addorderds}" th:object="${orderDetail}" th:method="post">
			  		
			  		  <!-- CLASES FORANEAS ORDERDS -->
			  		
					  <div class="form-group">
					    <label for="orderId">Seleccione el id de la orden</label>
					    <select th:field="*{id.orderNumber.orderNumber}" id="ordenId" class="form-control">
							<option th:each="o : ${orders}" th:value="${o.orderNumber}" th:text="${o.orderNumber}"></option>
						</select>
					  </div>
					  <div class="form-group">
					    <label for="producto">Seleccione el producto de la orden</label>
					    <select th:field="*{id.productCode.productCode}" id="producto" class="form-control">
							<option th:each="p : ${products}" th:value="${p.productCode}" th:text="${p.productName}"></option>
						</select>
					  </div>
					  
					  <!-- CLASES INHERENTES A ORDERDS -->
					  
					<div class="form-group col-md-8">
						<label for="quantity" class="col-form-label">Cantidad</label>
						<input type="number" class="form-control" id="quantityOrdered" th:field="*{quantityOrdered}" >
						 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('quantityOrdered')}" th:errors="*{quantityOrdered}"></div>
					</div>
					
					<div class="form-group col-md-8">
						<label for="priceach" class="col-form-label">Precio</label>
						<input type="number" class="form-control" id="priceEach" th:field="*{priceEach}" step="any">
						 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('priceEach')}" th:errors="*{priceEach}"></div>
					</div>
					
					<div class="form-group col-md-8">
						<label for="numeroLinea" class="col-form-label">Número de Línea</label>
						<input type="number" class="form-control" id="orderLineNumber" th:field="*{orderLineNumber}">
						 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('orderLineNumber')}" th:errors="*{orderLineNumber}"></div>
					</div>
			
			
					  <button type="submit" class="btn btn-primary">Seguir comprando</button>					  
					  <button type="submit" class="btn btn-success">Done</button>
					  
					</form>
	  			
	  		</div>
	  	</main>
	  	
	<!-- *********************************************************** -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- *********************************************************** -->
	  	
	  	<div th:insert="layouts/footer :: footer"></div>
	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>