<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER *****************************  -->
	<!-- *********************************************************** -->
	
		<div th:insert="layouts/header :: header"></div>
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN *****************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>PRODUCT LINES</h1>
	  			
			  		<form th:action="@{/addpline}" th:object="${productLine}" th:method="post" enctype="multipart/form-data">
			  		
					  <div class="form-group">
					    <label for="id">Id</label>
					    <input type="text" class="form-control" id="id"  th:field="*{id}" placeholder="Enter id">
					  </div>
					  <div class="form-group">
					    <label for="textdesc">Description</label>
					    <input type="text" class="form-control" id="textdesc" th:field="*{textDescription}" placeholder="text description">
					  </div>
					  <div class="form-group">
					   <label for="textdesc">HTML Description</label>
					    <input type="text" class="form-control" id="htmldesc" th:field="*{htmlDescription}" placeholder="html description">
					  </div>
					  <div class="form-group">
					   <label for="img">Imagen</label>
					    <input type="file" name="file" class="form-control" id="img" width="48" height="48">
					  </div>
					  
					  <button type="submit" class="btn btn-primary">Submit</button>
					  
					</form>
	  			
	  		</div>
	  	</main>
	  	
	<!-- *********************************************************** -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- *********************************************************** -->
	  	
	 <div th:insert="layouts/footer :: footer"></div>
	  

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>