<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index Classic Model</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>
	
<body>


	<!-- *********************************************************** -->
	<!-- ********************** HEADER ****************************  -->
	<!-- *********************************************************** -->
	
		<div th:insert="layouts/header :: header"></div>
	  	
	  	<main class="main">
	  		<div class="container">
	  		
	<!-- *********************************************************** -->
	<!-- ********************** MAIN ******************************  -->
	<!-- *********************************************************** -->
	  		
	  			<h1>Order Details</h1>
	  			
				 <div class="table-responsive">
							<table class="table table-striped table-dark">
								<tr>
									<th> Id Orden  </th>
									<th> Producto </th>
									<th> Cantidad  </th>
									<th> Precio c/u  </th>
									<th> N de Linea </th>

								</tr>
								<tr th:each="o:${orderDetails}">
									<td th:text="${o.id.orderNumber.orderNumber}"></td>
									<td th:text="${o.id.productCode.productName}"></td>
									<td th:text="${o.quantityOrdered}"></td>
									<td th:text="${o.priceEach}"></td>
									<td th:text="${o.orderLineNumber}"></td>			       
								</tr>
							</table>
					</div>
	  			
	  		</div>
	  	</main>
	  	
	<!-- ************************************************************ -->
	<!-- ********************** FOOTER *****************************  -->
	<!-- ************************************************************ -->
	  	
	<div th:insert="layouts/footer :: footer"></div>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script type="text/javascript" src="script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
 
</body>
</html>