<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Productos</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> 
	</head>	
<body>
<div class="container">
	<header th:replace="layout/header :: header"></header>
	
			<div class="titulo01 text-center text-white">
			
<h1>PRODUCTOS</h1>
	  			</div>
				 <div class="table-responsive">
							<table class="table table-striped table-dark">
								<tr>
									<th> Id  </th>
									<th> Nombre de Poducto  </th>
									<th> Escala  </th>
									<th> Vendedor </th>
									<th> Descripcion </th>
									<th> Stock</th>
									<th> Precio </th>
									<th> MSRP </th>
									
									
								</tr>
								<tr th:each="pt:${product}">
									<td th:text="${pt.id}"></td>
									<td th:text="${pt.productName}"></td>
									<td th:text="${pt.productScale}"></td>
									<td th:text="${pt.productVend}"></td>
									<td th:text="${pt.description}"></td>
									<td th:text="${pt.stock}"></td>
									<td th:text="${pt.buyPrice}"></td>
									<td th:text="${pt.MSRP}"></td>
									
								</tr>
							</table>
					</div>
	<footer th:replace="layout/footer :: footer"></footer>
</div>


 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/script.js"></script>					
 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>	
</body>
</html>